.listElement {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  background-color: var(--default-list-element-color);
}
.listElement:hover {
  background-color: var(--default-list-element-color-hover);
  cursor: pointer;
}
