.listElement {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 2fr 2fr 1fr;
  background-color: var(--default-list-element-color);
}
.listElementID {
  text-align: center;
}
.listElementDate {
  text-align: center;
}
.listElement:hover {
  background-color: var(--default-list-element-color-hover);
  cursor: pointer;
}
