.listElement {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 5% 50% 10% 15% 15% 5%;
  background-color: var(--default-list-element-color);
}
.listElementID {
  text-align: center;
}
.listElementDate {
  text-align: center;
}
.listElementDeleteButton {
  text-align: center;
}
.listElement:hover {
  background-color: var(--default-list-element-color-hover);
  cursor: pointer;
}
