.listButton {
  background-color: var(--basic-button-backgroung-color);
  color: var(--standard-button-text-color);
  font-size: 1rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin: 0;
  border: none;
  border-radius: 0.5em;
}

.listButton:hover {
  background-color: var(--basic-button-backgroung-color-hover);
  cursor: pointer;
}
