.menuButtonsContainer {
  padding: 0em 3em 1em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.documentTitleField {
  color: var(--document-title-text-color);
  font-weight: 600;
  font-size: 2em;
  padding: 0.5em 0.5em 0.25em 0.5em;
  text-align: center;
}

.documentTitleEditFieldDialog {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
.documentTitleEditFieldDialogButtons {
  text-align: center;
}
.documentTitleEditFieldButtonCancel {
  font-size: 1.5em;
  font-weight: 600;
  color: red;
  background-color: var(--default-background-color);
  width: 5em;
  border: none;
}
.documentTitleEditFieldButtonAccept {
  font-size: 1.5em;
  font-weight: 600;
  color: green;
  background-color: var(--default-background-color);
  width: 5em;
  border: none;
}

.documentTitleEditField {
  color: var(--document-title-text-color);
  background-color: var(--default-background-color);
  border: none;
  font-weight: 600;
  font-size: 2em;
  padding: 0.5em 0.5em 0.25em 0.5em;
  text-align: center;
}

.documentBodyField {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em 1em 1em;
}

.editorTextArea {
  resize: none;
  padding: 1em;
  width: 100%;
  max-width: 100%;

  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.listOfElements {
  background-color: var(--default-background-color);
  padding: 1em 2em 0em 2em;
}
.listOfElementsHeader {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
}

.listElementUser {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 4fr;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--default-list-element-color);
}
.listElementUser:hover {
  cursor: pointer;
  background-color: var(--default-list-element-color-hover);
}

.listHeaderDocument {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
}
.listElementDocument {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--default-list-element-color);
}
.listElementDocument:hover {
  cursor: pointer;
  background-color: var(--default-list-element-color-hover);
}

.formHeader {
  padding: 2em 2em 1em 2em;
  background-color: var(--default-background-color);
}
.formHeaderElementUser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.formHeaderElementDocument {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.headerElement {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--header-text-color);
  text-align: center;
}



.userControlPanel {
  background-color: var(--default-background-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.basicPageContainer {
  padding: 3em;
  background-color: var(--default-background-color);
}

/**/
.styleError {
  color: red;
  font-weight: 500;
}
