.menuButtonsContainer {
  padding: 3em 3em 0em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.documentBodyField {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 2em;
}

.editorTextArea {
  resize: none;
  padding: 1em;
  width: 100%;
  max-width: 100%;

  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.listOfElements {
  padding: 1em 2em 0em 2em;
}
.listOfElementsHeader {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
}

.listElementUser {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--default-list-element-color);
}
.listElementUser:hover {
  cursor: pointer;
  background-color: var(--default-list-element-color-hover);
}

.listHeaderDocument {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
}
.listElementDocument {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 2fr 2fr;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--default-list-element-color);
}
.listElementDocument:hover {
  cursor: pointer;
  background-color: var(--default-list-element-color-hover);
}



.formHeader {
  padding: 2em 2em 1em 2em;
  background-color: var(--default-background-color);
}
.formHeaderElementUser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.formHeaderElementDocument {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.headerElement {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--header-text-color);
  text-align: center;
}

.basicButton {
  background-color: var(--basic-button-backgroung-color);
  color: var(--standard-text-color);
  font-size: 1.2em;

  width: 10em;

  padding: 0.5em 1em;
  margin: 0.25em;

  border-radius: 0.5em;
  border: none;
}
.basicButton:hover {
  background-color: var(--basic-button-backgroung-color-hover);
  cursor: pointer;
}

.userControlPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
